name: nt_helper
description: A Flutter midi helper for the Disting NT
# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: "none" # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number is used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
# In Windows, build-name is used as the major, minor, and patch parts
# of the product and file versions while build-number is used as the build suffix.
version: 2.12.0+195

environment:
  sdk: ">=3.8.1 <4.0.0"

analyzer:
  errors:
    invalid_annotation_target: ignore

# Dependencies specify other packages that your package needs in order to work.
# To automatically upgrade your package dependencies to the latest versions
# consider running `flutter pub upgrade --major-versions`. Alternatively,
# dependencies can be manually updated by changing the version numbers below to
# the latest version available on pub.dev. To see which dependencies have newer
# versions available, run `flutter pub outdated`.
dependencies:
  flutter:
    sdk: flutter
  flutter_driver:
    sdk: flutter

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^1.0.8

  flutter_midi_command: ^0.5.3
  image: ^4.6.0
  shared_preferences: ^2.5.4
  package_info_plus: ^9.0.0
  flutter_launcher_icons: ^0.14.4
  pasteboard: ^0.4.0
  retry: ^3.1.2
  async: ^2.13.0
  haptic_feedback: ^0.6.4+2
  window_manager: ^0.5.1
  camera: ^0.11.3
  dart_mcp: ^0.4.0
  mcp_dart: ^1.0.2
  collection: ^1.19.1
  uuid: ^4.5.2
  crypto: ^3.0.7

  # Drift dependencies
  drift: ^2.30.0
  sqlite3: ^2.9.4
  sqlite3_flutter_libs: ^0.5.0
  path_provider: ^2.1.5
  permission_handler: ^12.0.1
  path: ^1.9.1
  intl: ^0.20.2
  file_picker: ^10.3.7

  # UI & State Management
  flutter_bloc: ^9.1.1
  bloc: ^9.1.0
  equatable: ^2.0.7
  freezed_annotation: ^3.1.0
  json_annotation: ^4.9.0
  docman: ^1.2.0
  security_scoped_resource: ^0.0.2
  desktop_drop: ^0.7.0
  cross_file: ^0.3.5+1

  archive: ^4.0.7
  provider: ^6.1.5+1
  get_it: ^9.2.0
  dart_elf: ^1.0.1
  http: ^1.6.0
  pub_semver: ^2.2.0
  url_launcher: ^6.3.2
  share_plus: ^12.0.1
  universal_ble: ^0.21.1
  vector_math: ^2.2.0
  webview_flutter: ^4.13.0
  uvccamera:
    git:
      url: https://github.com/thorinside/UVCCamera
      ref: 31bdb66472a0cde05ee6ab3de426661c96f3bb45
      path: flutter
  html: ^0.15.6

dev_dependencies:
  flutter_test:
    sdk: flutter

  # The "flutter_lints" package below contains a set of recommended lints to
  # encourage good coding practices. The lint set provided by the package is
  # activated in the `analysis_options.yaml` file located at the root of your
  # package. See that file for information about deactivating specific lint
  # rules and activating additional ones.
  flutter_lints: ^6.0.0
  build_runner: ^2.10.4
  json_serializable: ^6.11.2
  mockito: ^5.6.1
  mocktail: ^1.0.4
  freezed: ^3.2.3
  bloc_test: ^10.0.0

  # Drift dev dependencies
  drift_dev: ^2.30.0
  fake_async: ^1.3.3

dependency_overrides:
  flutter_midi_command_linux:
    git: https://github.com/thorinside/flutter_midi_command_linux.git
  flutter_midi_command_windows:
    git: https://github.com/thorinside/flutter_midi_command_windows.git
  # Use forked dart_midi with fix for Linux shutdown hang (closes ALSA port before killing isolate)
  midi:
    git: https://github.com/thorinside/dart_midi.git

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:
  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true


  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
  assets:
    - docs/algorithms/
    - docs/features/
    - assets/metadata/
    - assets/linux/

flutter_launcher_icons:
  # ... (Keep existing launcher icon config)
